Repository lazyxeon/Genesis-Code-Protocol: changes, and which pre-commit hooks are due for each by the changed paths.
All: trailing-whitespace, end-of-file-fixer, check-yaml, ruff-check, ruff-format

.pre-commit-config.yaml:

exclude: |
  (?x)^(
    Notebooks/
    |GCP-All-Variants/
    |GCP\ Runners/
    |Documents/
    |docs/
    |.*\.md$
    |.*\.ipynb$
  )

default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: sed -i 's/[[:space:]]*$//'
        language: system
        types: [text]
        exclude: '\.md$'

      - id: end-of-file-fixer
        name: Fix End of Files
        entry: bash -c 'for file in "$@"; do [[ -s "$file" && $(tail -c1 "$file") != "" ]] && echo >> "$file"; done; exit 0' --
        language: system
        types: [text]
        exclude: '\.txt$|\.json$'

      - id: check-yaml
        name: Check YAML
        entry: python -c "import sys,yaml; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        types: [yaml]

      - id: check-large-files
        name: Check for large files
        entry: bash -c 'for f in "$@"; do [[ "$f" == .git/* ]] && continue; s=$(stat -c%s "$f" 2>/dev/null || echo 0); [ $s -gt 1048576 ] && echo "File $f is $(($s/1024))KB" && exit 1; done; exit 0' --
        language: system

      - id: ruff-check
        name: Ruff Check
        entry: python -m ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: Ruff Format
        entry: python -m ruff format
        language: system
        types: [python]
        require_serial: true

fix: ensure notebook linting errors fail workflow (#504)
  .github/workflows/validate-notebooks.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

fix: use release tag for bundle artifacts (#503)
  .github/workflows/release-bundle.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

fix: robust tag handling in release bundle workflow (#501)
  .github/workflows/release-bundle.yml
  Table Of Contents.md
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Fix pre-commit workflow (#497)
  .github/workflows/release-bundle.yml
  .pre-commit-config.yaml
  Table Of Contents.md
  scripts/generate_sbom.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, ruff-check, ruff-format

fix: run markdownlint via npx (#495)
  .github/workflows/markdownlint.yml
  .github/workflows/release-bundle.yml
  Table Of Contents.md
Due: trailing-whitespace, end-of-file-fixer, check-yaml

chore: set explicit run names for workflows
  .github/workflows/Python-CI.yml
  .github/workflows/auto-release.yml
  .github/workflows/build-and-push-ghcr.yml
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/markdownlint.yml
  .github/workflows/trigger-all-workflows.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

chore: set explicit run names for workflows (#527)
  .github/workflows/Python-CI.yml
  .github/workflows/auto-release.yml
  .github/workflows/build-and-push-ghcr.yml
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/markdownlint.yml
  .github/workflows/trigger-all-workflows.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Fix all workflow issues: syntax errors, action versions, and YAML compliance (#529)
  .github/workflows/Python-CI.yml
  .github/workflows/auto-release.yml
  .github/workflows/build-and-push-ghcr.yml
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-debug.yml
  .github/workflows/docs.yml
  .github/workflows/ethicalcheck.yml
  .github/workflows/fortify.yml
  .github/workflows/generate-changelog.yml
  .github/workflows/manual-mock-run.yml
  .github/workflows/markdownlint.yml
  .github/workflows/matrix-ci.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-bundle.yml
  .github/workflows/release-complete.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-sign.yml
  .github/workflows/sbom.yml
  .github/workflows/security-scan.yml
  .github/workflows/trigger-all-workflows.yml
  .github/workflows/update-repo-structure.yml
  .github/workflows/update-toc-file.yml
  .github/workflows/validate-notebooks.yml
  .github/workflows/validate-workflows.yml
  README.md
  Table Of Contents.md
  tests/test_release_workflows.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, ruff-check, ruff-format

Fix all failing GitHub workflows with comprehensive syntax and security improvements (#530)
  .github/workflows/Python-CI.yml
  .github/workflows/auto-release.yml
  .github/workflows/codacy.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-debug.yml
  .github/workflows/manual-mock-run.yml
  .github/workflows/matrix-ci.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/pre-commit.yml
  .github/workflows/trigger-all-workflows.yml
  .github/workflows/update-repo-structure.yml
  .github/workflows/update-toc-file.yml
  .github/workflows/validate-notebooks.yml
  README.md
  Table Of Contents.md
  docs/WORKFLOW_FIXES_SUMMARY.md
  tests/test_workflow_validation.py
Due: trailing-whitespace, end-of-file-fixer, check-yaml, ruff-check, ruff-format

Fix GitHub workflow issues
  .github/workflows/markdownlint.yml
  .github/workflows/release-bundle.yml
  .github/workflows/release-complete.yml
  .github/workflows/release-sign.yml
  .github/workflows/update-repo-structure.yml
  .github/workflows/update-toc-file.yml
  .github/workflows/validate-workflows.yml
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Fix: Move end-of-file-fixer hook to correct repository
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Fix code-style and lint errors detected by Ruff
  src/automerge.py
  src/ethicalcheck.py
  tests/automerge_skip_test.py
  tests/e2e_smoke_test.py
  tests/ethicalcheck_test.py
  tests/rollback_test.py
  tests/security_test.py
  tests/test_release_bundle.py
  tests/test_release_workflows.py
  tests/test_workflow_validation.py
Due: trailing-whitespace, end-of-file-fixer, ruff-check, ruff-format

fix: update paths format in generate-changelog workflow
  .github/workflows/generate-changelog.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

fix: add base and ref parameters to create-pull-request action in update-repo-structure workflow
  .github/workflows/update-repo-structure.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Fix pre-commit configuration: Move ruff hooks to correct repository section
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Add PyYAML dependency to fix failing tests
  requirements.txt
Due: trailing-whitespace

fix: remove invalid 'ref' parameter from create-pull-request action
  .github/workflows/update-toc-file.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Fix rollback test to include errors.TerminalError in expected exceptions
  tests/rollback_test.py
Due: trailing-whitespace, end-of-file-fixer, ruff-check, ruff-format

fix: remove invalid 'ref' parameter from create-pull-request action
  .github/workflows/update-repo-structure.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Fix lint issues in tests/rollback_test.py: sort imports and add newline at end of file
  tests/rollback_test.py
Due: trailing-whitespace, end-of-file-fixer, ruff-check, ruff-format

fix: update TOC workflow to explicitly checkout main branch
  .github/workflows/update-toc-file.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Initial plan (#545)
  Table Of Contents.md
Due: none

fix: Refactor pre-commit workflow for OpenSSF alignment
  .github/workflows/Python-CI.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Implement two-phase pre-commit workflow with Ruff upgrade and advisory mypy
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
  requirements-dev.txt
  scripts/validate_precommit.sh
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Update pre-commit workflow with new step names
  .github/workflows/pre-commit.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Enhance pre-commit configuration with new jobs
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Refactor pre-commit workflow steps and naming
  .github/workflows/pre-commit.yml
Due: trailing-whitespace, end-of-file-fixer, check-yaml

Refactor pre-commit configuration
  .pre-commit-config.yaml
Due: trailing-whitespace, end-of-file-fixer, check-yaml
